<!DOCTYPE html>
<html>
<head>
  <title>CarrierPigeon</title>
  <%= csrf_meta_tags %>
</head>
<body>
<% if session[:user_id] %>
  <%= link_to "Log Out", logout_path %>
<% end %>
<%= yield %>

</body>
</html>
